{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Inkverge</title>
</head>
<body>
  <div class="nav">
    <div class="nav-left">
      <a href="{% url 'index' %}"><img class="logo" src="{% static 'image/logo-2.png' %}" alt="Inkverge Logo"></a>
      <a href ="{% url 'help' %}" class="hide">Help</a>
      <a href ="{% url 'about' %}" class="hide">About</a>
      {% if profile and not profile.is_member %}
        <a href="{% url 'membership' %}" class="hide">Become a Member</a>
      {% endif %}
    </div>
    <div class="nav-right">
      <div class="search">
        <form class="dee" method="get" action="{% url 'index' %}">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" class="ss" name="q" placeholder="Search by title" value="{{ query }}">
        </form>
      </div>
      <a href="{% url 'write' %}" class="hide"><i class="fa-solid fa-pen-to-square"></i><span class="wr">Write</span></a>
      
      <div class="notify">
        <a href="{% url 'notifications' %}" class="hide">
        <i class="fa fa-bell"></i>
        {% if unread_notifications > 0 %}
          <span class="notification-count">{{ unread_notifications }}</span>
        {% endif %}
      </a>
      </div>

      {% if user.is_authenticated %}
        <a href="{% url 'logout_view' %}" class="hide">Sign Out</a>
      {% else %}
        <a href="{% url 'login_register' %}" class="hide">Sign in</a>
      {% endif %}
      <a href="{% url 'profile' %}" class="nav-profile">
        <div class="profile-badge">
          {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="{{ user.username }}">
          {% else %}
            <img src="{% static 'user_img/default.png' %}" alt="No photo">
          {% endif %}
          {% if profile.is_member %}
            <div class="badge"><i id="star" class="fas fa-star"></i></div>
          {% endif %}
        </div>
      </a>
    </div>
    
    <div class="mobile-dropdown">
    <ul>
      <li>
        <a href="{% url 'profile' %}" id="phone" class="nav-profile">
        <div class="profile-badge">
          {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="{{ user.username }}">
          {% else %}
            <img src="{% static 'user_img/default.png' %}" alt="No photo">
          {% endif %}
          {% if profile.is_member %}
            <div class="badge"><i id="star" class="fas fa-star"></i></div>
          {% endif %}
        </div>
      </a>
      </li>
      <li><a href="{% url 'help' %}">Help</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if profile and not profile.is_member %}
        <li><a href="{% url 'membership' %}">Become a Member</a></li>
      {% endif %}
      <li><a href="{% url 'write' %}">Write</a></li>
     <li>
        <a href="{% url 'notifications' %}" class="mobile-notification-link">
          <span class="bell-icon-wrapper">
            <i class="fa fa-bell"></i>
            {% if unread_notifications > 0 %}
              <span class="mobile-badge">{{ unread_notifications }}</span>
            {% endif %}
          </span>
          <span>Notifications</span>
        </a>
      </li>

      {% if user.is_authenticated %}
        <li><a href="{% url 'logout_view' %}">Sign Out</a></li>
      {% else %}
        <li><a href="{% url 'login_register' %}">Sign In</a></li>
      {% endif %}
    </ul>
  </div>



  </div>

  <!-- <div class="fr-row">
    <div class="tagline">
      <a href="">Traveling</a>
    </div>
  </div> -->

  <div class="main">
      {% for i in posts %}
        <div class="top">
          <div class="pc">
            <a href="{% url 'user_profile' i.author.id %}">
              {% if i.author.profile.image %}
                <img src="{{ i.author.profile.image.url }}" alt="{{ i.author.username }}">
                {% if i.author.profile.is_member %}
                  <div class="badge1"><i id="star1" class="fas fa-star"></i></div>
                {% endif %}
              {% else %}
                <img src="{% static 'user_img/default.png' %}" alt="No photo">
              {% endif %}
            </a>
            </div>
          <div class="u-name">
            <a href="{% url 'user_profile' i.author.id %}">
              <p>{{i.author.username}}</p>
            </a>
          </div>
      </div>

      <div class="s-row">
          <div class="sec-row">
            <div class="left">
             <a href="{% url 'post_detail' i.pk %}"><h1>{{i.title}}</h1></a>
              <a href="{% url 'post_detail' i.pk %}"><p>{{i.subtitle}}</p></a>
              <div class="dtc">
                <div class="ic-l">
                  <form action="{% url 'toggle_like' i.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="insta-like-btn">
                      {% if i.is_liked %}
                        <i class="fa-solid fa-heart liked"></i>
                      {% else %}
                        <i class="fa-regular fa-heart"></i>
                      {% endif %}
                      <span>{{ i.likes.count }}</span>
                    </button>
                  </form>

                  <a href="{% url 'post_detail' i.pk %}">
                    <i class="fa-regular fa-comment"></i>
                    <span>{{ i.comments.count }}</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="right">
              <a href="{% url 'post_detail' i.pk %}">
                {% if i.image %}
                  <img src="{{ i.image.url }}" alt="Article Image">
                {% else %}
                  <img src="{% static 'image/default-post.png' %}" alt="Default Image">
                {% endif %}
              </a>
            </div>
        </div>
      </div>
      {% empty %}
        <p style="text-align: center; font-size: 18px; margin-top: 40px;">😔 No posts found.</p>
      {% endfor %}

  </div>

<script>
  const profileBtn = document.querySelector('.nav-profile');
  const dropdown = document.querySelector('.mobile-dropdown');

  profileBtn.addEventListener('click', function (e) {
    const mobileBreakpoint = 768; 

    if (window.innerWidth <= mobileBreakpoint) {
      e.preventDefault(); 
      dropdown.classList.toggle('dropdown-active');
    } else {

      if (dropdown.classList.contains('dropdown-active')) {
        dropdown.classList.remove('dropdown-active');
      }
    }
  });

  document.addEventListener('click', function (e) {
    const mobileBreakpoint = 768;
    if (window.innerWidth <= mobileBreakpoint && !dropdown.contains(e.target) && !profileBtn.contains(e.target)) {
      dropdown.classList.remove('dropdown-active');
    }
  });


  window.addEventListener('resize', function() {
    const mobileBreakpoint = 768;
    if (window.innerWidth > mobileBreakpoint && dropdown.classList.contains('dropdown-active')) {
      dropdown.classList.remove('dropdown-active');
    }
  });
</script>


</body>

</html>