{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <title>Inkverge</title>
</head>
<body>
  <div class="nav">
    <div class="nav-left">
      <a href="{% url 'index' %}"><img class="logo" src="{% static 'image/logo-2.png' %}" alt="Inkverge Logo"></a>
    </div>
  </div>


    <div class="main">

        <div class="payment">
            <h1>Payment</h1>
        </div>

        <div class="checkout-wrapper">
            <div class="plan-summary">
                <div class="plan-image-badge">
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="{{ user.username }}">
                {% else %}
                    <img src="{% static 'user_img/default.png' %}" alt="No photo">
                {% endif %}
                <div class="badge"><i class="fas fa-star"></i></div>
                </div>
                <div class="plan-details">
                <h3>Inkverge Member (Annual)</h3>
                <p class="billed-today">Billed Today</p>
                <p class="price">₹499</p>
                </div>
            </div>

            <div class="payment-section">
                <h3>Credit/Debit Card</h3>
                <form action="{% url 'payment' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="cardnumber" placeholder="1234 5678 9012 3456" maxlength="14" required />
                    <div class="form-row">
                        <input type="month" name="expdate" placeholder="MM/YY" required />
                        <input type="password" name="cvv" placeholder="CVV" maxlength="4" required />
                    </div>
                    <a href="">
                    <button type="submit" class="pay-btn">Pay</button>
                    </a>
                </form>
            </div>    
        </div>


    </div>

</body>

</html>